*{
    box-sizing: border-box
}

body {
    margin: 0;
    background: black;
    padding: 20px;
}

.contacto {
    width: 95%;
    max-width: 250px;
    margin: auto;
    background: white;
    border-radius: 7px;
}

.titulo {
    background: greenyellow;
    color: white;
    padding: 20px;
    text-align: center;
    font-size-adjust: none;
}

.contenedor-1 {
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background: rgb(190, 229, 130);
}

.input-100 {
    width: 100%;
}

.boton {
    background: green;
    color: white;
    margin: auto;
    padding: 10px 40px;
}